<div class="container-fluid">
<div class="form-row justify-content-center">
<div class="form-group col-md-7">
    <h1>{{tittle}}</h1>
  <div class="input-group mb-3" >
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Name:</span>
    </div>
    <input type="text" class="form-control" placeholder="article name" aria-label="Article name" aria-describedby="basic-addon1">
  </div>

  <div class="input-group mb-3" >
    <div class="input-group-prepend">
      <span class="input-group-text">Description</span>
    </div>
    <textarea class="form-control" placeholder="article description" aria-label="Description"></textarea>
  </div>

  <span class="badge badge-info">keyword</span>
  <span class="badge badge-info">keywords</span>

  <div class="input-group mb-3" >
    <input type="text" class="form-control" placeholder="keywords" aria-label="Keywords" aria-describedby="basic-addon2">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button">Add</button>
    </div>
  </div>

  <div class="input-group mb-3" >
    <div class="input-group-prepend flex-grow-1">
      <span class="input-group-text flex-grow-1 text-wrap">If you want to add image, you have to upload it and then add it using add button in edit panel.</span>
    </div>
    <div class="input-group">
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="inputGroupFile01"
          aria-describedby="inputGroupFileAddon01">
        <label class="custom-file-label" for="inputGroupFile01">Choose image</label>
      </div>
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
      </div>
    </div>
  </div>

  <div class="input-group" >
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button">Add Image</button>
      <button class="btn btn-outline-secondary" type="button">Add Code</button>
    </div>
  </div>
  <div class="input-group mb-3">
    <textarea class="form-control" #articleTextArea (click)="getCaretPos(articleTextArea)" (keyup)="getCaretPos(articleTextArea)" aria-label="Content" rows="25" [(ngModel)]="articleContent"></textarea>
  </div>
    </div>
</div>
</div>
